a:hover{
    border-bottom: 1px solid #fff;
}

#item:hover{
    background-color: #264653a2;
    border-radius: 5%;
    transform: translateY(-20px);
    transition-duration: 1s;
    color: #fff;
        
}

.person1:hover{
    background-color: #264653a2;
    border-radius: 5%;
    transform: translateY(-20px);
    transition-duration: 1s;
    color: #fff;
}

.person2:hover{
    background-color: #264653a2;
    border-radius: 5%;
    transform: translateY(-20px);
    transition-duration: 1s;
    color: #fff;
}

.person3:hover{
    background-color: #264653a2;
    border-radius: 5%;
    transform: translateY(-20px);
    transition-duration: 1s;
    color: #fff;
}

#login:hover{
    background-color: #0B0D17 !important;
}